# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Build
/build/
ios/Pods/
android/.gradle/
android/app/build/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
*.log

